/* Position of the Left ScoreBox */
#player1ScoreBox {
    top: 190px;
    left: 790px;
}

/* Position of the Right ScoreBox */
#player2ScoreBox {
    top: 190px;
    right: 795px;
}

/* width and height of the Left ScoreBox and Right ScoreBox */
/* These should only be defined together if they are meant to be the same size */
/* line-height should be the same px value as height */
#player1ScoreBox, #player2ScoreBox {
    width: 64px;
    height: 54px;
    line-height: 54px;
}

/* Position of the Left NameBox */
#player1NameBox {
    top: 150px;
    left: 160px;
}

/* Position of the Right NameBox */
#player2NameBox {
    top: 150px;
    right: 165px;
}

/* width and height of the Left NameBox and Right NameBox */
/* These should only be defined together if they are meant to be the same size */
 /* line-height should be the same px value as height */
#player1NameBox, #player2NameBox {
    width: 500px;
    height: 65px;
    line-height: 49px;
}

/* Position of the player1StateName */
#player1StateName {
    top: 230px;
    left: 330px;
}

/* Position of the player2StateName */
#player2StateName {
    top: 230px;
    right: 335px;
}

/* width and height of the player1StateName and player2StateName */
/* These should only be defined together if they are meant to be the same size */
/* line-height should be the same px value as height */
#player1StateName, #player2StateName {
    width: 230px;
    height: 30px;
    line-height: 30px;
}

#player1SetBox {
    top: 190px;
    left: 690px;
}

/* Position of the Right ScoreBox */
#player2SetBox {
    top: 190px;
    right: 695px;
}

/* width and height of the Left ScoreBox and Right ScoreBox */
/* These should only be defined together if they are meant to be the same size */
/* line-height should be the same px value as height */
#player1SetBox, #player2SetBox {
    width: 64px;
    height: 54px;
    line-height: 54px;
}

#boardNumberBox {
    top: 160px;
    left: 900px;
}

#boardNumberBox {
    width: 115px;
    height: 100px;
    line-height: 100px;
}

/* Uncomment everything below this to debug the width, height and positions of all elements. */
/* .contentBox {
	background-color: blue;
	opacity: 0.7;
} */